@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 4em;
$gutter: 1em;
$grid-columns: 12;
$max-width: 70em;
$visual-grid: flase;
$visual-grid-index: front;
$visual-grid-color: black;
$visual-grid-opacity: 0.2;
// Define your breakpoints
$tablet: new-breakpoint(max-width 40em 8);
$mobile: new-breakpoint(max-width 30em 4);
