@import "bourbon/bourbon";
@import "neat/neat";


@include hidpi(1.5) {
  width: 20em;
}

// variables
$max-width: 960px;
$bg-color: #fff;


/*
*******************
* =global
*******************
*/
* {

}

body {
  background-color: $bg-color;
}

ul {
  list-style-type: none; }

ul li {
  display: inline;
}

a:link {
  color: green;
  text-decoration: none;
}

a:hover {
  background: #000;
}

img {
  max-width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  max-width: $max-width;
  overflow-x: hidden;

  font-family: sans-serif;
  text-align: center;

}

/*
*******************
* =branding
*******************
*/

.branding {

}

.branding h1, .branding p {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
}

.branding h1 {
  top: 100px;
}

.branding p {
  top: 20px;
}

/*
*******************
* =nav
*******************
*/
nav {

}


/*
*******************
* =intro
*******************
*/



/*
*******************
* =highlight container
*******************
*/


section {
  @include outer-container;
  .row { @include span-columns(4); }

}
