@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// variables
$bg-color: #fff;


/*
*******************
* =global
*******************
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: $bg-color;
  .container {
    @include outer-container;
  }
}

ul {
  list-style-type: none;
  li {
    display: inline;
  }
}

a {
  color: $bg-color;

  &:link{
  background-color: green;
  text-decoration: none;
  }
  &:hover {
    background: #000;
  }
}

img {
  max-width: 100%;
}

/*
*******************
* =branding
*******************
*/
.branding {

}

.branding h1, .branding p {
  color: #fff;
  text-transform: uppercase;
  position: relative;
}


/*
*******************
* =nav
*******************
*/
nav {

}


/*
*******************
* =intro
*******************
*/



/*
*******************
* =highlight container
*******************
*/
