@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// variables
$bg-color: #fff;


/* =global */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.container {
    @include outer-container;
    background-color: $bg-color;
}

ul {
  list-style-type: none;
  li {
    display: inline;
  }
}

a {
  color: $bg-color;

  &:link{
  text-decoration: none;
  }
  &:hover {
    background: #eee;
    color: rgba(5, 5, 5, 0.75);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* =branding */
.branding {
  margin: 0 auto;
}


.branding h1, .branding p {
  color: #000;
  position: absolute;
  text-transform: uppercase;
  z-index: 0;
  width: 100%;
}

.branding h1 {
  top: 80px;
}

.branding p {
  top: 150px;
}

/* =nav */
nav {
  @include border-style(solid);
  border-radius: .35em;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -320px;
  height: 3em;
  width: 40em;
  color: #696565;
}

nav ul li {
  display: inline-block;
}

nav ul ul {
  display: block;
}

nav ul li ul .dropdown {
  min-width: 100%;
  background: green;
  display: none;
}

/* =intro */
.intro {
  background-color: #6ac48c;
}

.title1 {
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  background-color: #6ac48c;
  width: 10em;
  left: 50%;
  margin-left: -5.35em;
}

.border {
  border: black 1px solid;
}

/* =main */
.main-img-container {
  background-image: no-repeat;
}

/* =feature */
.row {
  @include row($display: default, $direction: $default-layout-direction);
}

/* =highlight */
.highlight {
  background-color: #f3f3f3;
}

/* =footer */
.footer-container {
  background-color: #282b34;
  color: $bg-color;
}
