@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// variables
$bg-color: #fff;
$btn-color: #2f333b;

/* =global */
* {
  font-family: sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

body {
    @include outer-container;
    background-color: pink;
}

ul {
  list-style-type: none;
}

a {
  color: $bg-color;
    &:link{
      text-decoration: none;
    }
    &:hover {
      color: rgba(5, 5, 5, 0.75);
    }
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* =branding */
.branding {
  background-image: url("../img/banner.jpg");
  margin: 0 auto;
  width: 100%;
  h1, p {
    color: #000;
    position: absolute;
    text-transform: uppercase;
    z-index: 0;
    width: 100%;
  }
  h1 {
    top: 80px;
    font-size: 1.7em;
  }
  p {
    top: 150px;
  }
}

/* =nav */
nav {
  @include border-style(solid);
  border-radius: .35em;
  position: absolute;
  top: 2em;
  left: 50%;
  margin-left: -240px;
  height: 3em;
  width: 35em;
  color: #696565;
  ul {
    li {
      display: inline-block;
      margin-right: 1.5em;
      position: relative;
      &.opener {
        padding-bottom: 3em;
      }
      a {
        padding: 1em 5px;
        display: inline-block;
        vertical-align: bottom;
        font-size: .7em;
      }
      ul.dropdown {
        max-width: 100%;
        background: #222835;
        background-color: rgba(44, 50, 63, 0.935);
        position: absolute;
        top: 100%;
        display: none;
        z-index: 1;
      }
      &:hover ul.dropdown {
        @include border-style(null solid solid solid);
        display: block;
        position: absolute;
        top: 2.8em;
        border-radius: .35em;
        padding-top: 1.2em, 1em;
      }
      ul.dropdown li {
        display: block;
      }
    }
  }
}

/* =intro */
.intro {
  background-color: #6ac48c;
}

.title1 {
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  background-color: #6ac48c;
  width: 10em;
  left: 50%;
  margin-left: -5.35em;
}

.border {
  border: black 1px solid;
}

.action {

}

/* =main */
.main-img-container {
  background-image: no-repeat;
}

/* =feature */
.row {
  @include row($display: default, $direction: $default-layout-direction);
}

/* =highlight */
.highlight {
  background-color: #f3f3f3;
}

/* =footer */
.footer-container {
  background-color: #282b34;
  color: $bg-color;
}

/* =media queries */
@media screen and (max-width: 320px) {
  // branding
  .branding {
    height: 14em;
    h1 {
      top: 40px;
      font-size: 1.5em;
      padding: 30px;
    }
    p {
      top: 126px;
      font-size: .9em;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  // nav
  nav {
    @include border-style(none);
    left: 0px;
    display: none;
  }
  .nav-panel {
    display: none;
  }
}

.title1 {
  color: #fff;
  font-size: .8em;
  height: 30px;
  top: 200px;
  display: none;
}

@media screen and (max-width: 480px) {

}
