@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// variables
$bg-color: #fff;
$btn-color: #2f333b;

/* =global */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.container {
    @include outer-container;
    background-color: $bg-color;
}

ul {
  list-style-type: none;
}

a {
  color: $bg-color;
    &:link{
      text-decoration: none;
    }
    &:hover {
      color: rgba(5, 5, 5, 0.75);
    }
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* =branding */
.branding {
  margin: 0 auto;
  h1, p {
    color: #000;
    position: absolute;
    text-transform: uppercase;
    z-index: 0;
    width: 100%;
  }
  h1 {
    top: 80px;
  }
  p {
    top: 150px;
  }
}

/* =nav */
nav {
  @include border-style(solid);
  border-radius: .35em;
  position: absolute;
  top: 2em;
  left: 50%;
  margin-left: -240px;
  height: 3em;
  width: 35em;
  color: #696565;
  padding: 1em;
  ul {
    li {
      display: inline-block;
      margin-right: 1.5em;
      ul.dropdown {
        max-width: 100%;
        background-color: rgba(44, 50, 63, 0.935);
        position: absolute;
        top: 2em;
        display: none;
      }
      &:hover ul.dropdown {
        display: block;
      }
      ul.dropdown li {
        display: block;
      }
    }
  }
}

/* =intro */
.intro {
  background-color: #6ac48c;
}

.title1 {
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  background-color: #6ac48c;
  width: 10em;
  left: 50%;
  margin-left: -5.35em;
}

.border {
  border: black 1px solid;
}

.action {

}

/* =main */
.main-img-container {
  background-image: no-repeat;
}

/* =feature */
.row {
  @include row($display: default, $direction: $default-layout-direction);
}

/* =highlight */
.highlight {
  background-color: #f3f3f3;
}

/* =footer */
.footer-container {
  background-color: #282b34;
  color: $bg-color;
}
