@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// variables
$bg-color: #fff;


/*
*******************
* =global
*******************
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  padding: 0px;

}

body {
  background-color: $bg-color;
  .container {
    @include outer-container;
  }
}

ul {
  list-style-type: none;
  li {
    display: inline;
  }
}

a {
  color: $bg-color;

  &:link{
  background-color: green;
  text-decoration: none;
  }
  &:hover {
    background: #000;
  }
}

img {
  max-width: 100%;
}

/*
*******************
* =branding
*******************
*/

.branding {

}

.branding h1, .branding p {
  color: #fff;
  text-transform: uppercase;
}


/*
*******************
* =nav
*******************
*/
nav {
  border: 5px solid;
}


/*
*******************
* =intro
*******************
*/
.intro {
  background-color: #6ac48c;
}



/*
*******************
* =highlight container
*******************
*/

/*
*******************
* =main
*******************
*/
.main-img-container {
  background-image: no-repeat;
}
