@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// variables
$bg-color: #fff;
$btn-color: #2f333b;

/* =global */
* {
  font-family: sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

body {
    @include outer-container;
    max-width: 100%;
    background-color: pink;
}

ul {
  list-style-type: none;
}

a {
  color: $bg-color;
    &:link{
      text-decoration: none;
    }
    &:hover {
      color: rgba(5, 5, 5, 0.75);
    }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.title1 {
  text-transform: uppercase;
  position: absolute;
}

/* =branding */
.branding {
  background-image: url("../img/banner.jpg");
  position: relative;
  margin: 0 auto;
  width: 100%;
  h1, p {
    color: #000;
    position: absolute;
    text-transform: uppercase;
    z-index: 0;
    width: 100%;
  }
  h1 {
    top: 80px;
    font-size: 1.7em;
  }
  p {
    top: 150px;
  }
}

/* =nav */
nav {
  @include border-style(solid);
  border-radius: .35em;
  position: absolute;
  top: 2em;
  left: 50%;
  margin-left: -240px;
  height: 3em;
  width: 35em;
  color: #696565;
  ul {
    li {
      display: inline-block;
      margin-right: 1.5em;
      position: relative;
      &.opener {
        padding-bottom: 3em;
      }
      a {
        padding: 1em 5px;
        display: inline-block;
        vertical-align: bottom;
        font-size: .7em;
      }
      ul.dropdown {
        max-width: 100%;
        background: #222835;
        background-color: rgba(44, 50, 63, 0.935);
        position: absolute;
        top: 100%;
        display: none;
        z-index: 1;
      }
      &:hover ul.dropdown {
        @include border-style(null solid solid solid);
        display: block;
        position: absolute;
        top: 2.8em;
        border-radius: .35em;
        padding-top: 1.2em, 1em;
      }
      ul.dropdown li {
        display: block;
      }
    }
  }
}

/* =intro */
.intro {
  font-size: .9em;
  background-color: #6ac48c;
  color: #fff;
  .title1 {
    top: 200px;
    background-color: #6ac48c;
    width: 10em;
    left: 50%;
    margin-left: -9.2em;
  }
  .title1-header {
    position: absolute;
    font-weight: bolder;
    letter-spacing: .1em;
    width: 100%;
  }
  .intro-sentence {
    padding-bottom: 0;
  }
  .border {
    font-size: 100%;
    padding-top: 1em;
    border: black 1px solid;
    padding-bottom: 1.5em;
  }
  .para {
    padding-top: 1.8em;
    padding-bottom: 2em;
  }
  .button  {
    text-transform: uppercase;
    height: 3em;
    @include border-style(solid);
    border-width: 0.003em;
    border-radius: .35em;
    font-weight: bolder;
    font-size: 1.1em;
    padding-top: 0.5em;
    ul {
      li {
        padding-top: .6em;
        height: 100%;
        font-size: 0.8em;
        font-weight: bolder;
        letter-spacing: .2em;
      }
    }
  }
}

/* =main */
.main {
  position: absolute;
  .title1 {
    height: 2.7em;
    width: 19em;
  }
  .title1-header {
  }
  .main-img-container {
    background-image: url("../img/pic01.jpg");
    background-repeat: no-repeat;
    /* =feature */
    .row {

    }
  }
}



/* =highlight */
.highlight {
  position: absolute;
  background-color: #f3f3f3;
}

/* =footer */
.footer-container {
  position: absolute;
  background-color: #282b34;
  color: $bg-color;
}

/* =media queries */
@media screen and (max-width: 320px) {
  // =branding
  .branding {
    height: 14em;
    h1 {
      top: 40px;
      font-size: 1.2em;
      letter-spacing: 0.17em;
      padding: 30px;
    }
    p {
      top: 126px;
      font-size: .7em;
      letter-spacing: 0.3em;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  // =nav
  nav {
    @include border-style(none);
    left: 0px;
    display: none;
  }
}
// =intro
.intro {
  padding: 3em;
  .title1 {
    color: #fff;
    height: 2.5em;
    width: 19em;
    top: 194px;
    .title1-header {
      top: 1.3em;
    }
  }
  .intro-sentence  {
    font-size: 0.9em;
    line-height: 1.6em;
    color: #eeeeee;
    padding-bottom: 2em;
  }
  .border {
    @include border-style(solid);
    border-width: 0.003em;
    border-radius: .35em;
    border-color: rgba(255, 255, 255, 0.3);
    font-height: 2em;
    font-weight: bolder;
    letter-spacing: 0.245em;
    line-height: 1.9em;
    padding: 1.6em;
  }
  .para {
    padding-top: 3.35em;
    font-size: 0.9em;
    line-height: 1.65em;
    color: #eeeeee;
  }
  .button {
    border-color: #2f333b;
    background-color: #2f333b;
  }
} // end intro //
// =main //
.main {
  height: 100%;
  background-color: green;
  padding: 3em;
  height: 8em;
  .title1 {
    
  }
  .main-img-container {
    width: 100%;
    background-color: #fff;
  }
}

@media screen and (max-width: 480px) {

}
